.not-found{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: red;
    text-align: center;
    margin: 0;
    padding: 0;
}

.text-danger{
    color: red;
    font-size: xx-large;
    margin-top: 4vh;
}