.card {
  margin-bottom: 20px;
}
.card-img-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
.card-title {
  color: blue;
}

img {
  width: 10vw;
  height: 10vw;
}

.is-hidden{
  display: none;
}